.anticon-right,
.anticon-left {
    color: rgb(21, 96, 225);
}

.ant-pagination .ant-pagination-item a {
    color: rgb(0, 123, 255);
}

.ant-pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}