.search-filters_inner {
    background-color: rgba(10, 16, 30, 0.9);
    padding: 60px 0;
}

.search-filters {
    display: flex;
    align-items: center;
    gap: 26px;
    flex-wrap: wrap;
}

.btn-search-reset{
    width: 80px;
    height: 57px;
}

.filter-btn_reset{
    background-color: transparent;
    border: 1px solid rgb(51, 51, 51);
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.filter-btn_reset:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.filter-btn_reset:hover:enabled {
    border-color: rgb(128, 135, 147);
    background-color: rgb(31, 41, 55);
}


.search-input {
    max-width: 400px;
    min-width: 200px;
    width: 100%;
    padding: 14px 20px;
    border-radius: 6px;
    border: 1px solid rgb(51, 51, 51);
    background-color: rgb(17, 24, 39);
    color: rgb(245, 245, 245);
}

.search-input:hover {
    border-color: rgb(128, 135, 147);
}

.search-input:focus {
    border-color: rgb(170, 202, 254);
}

.filters {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.filter-label {
    font-size: 18px;
    color: rgb(242, 247, 251);
}

.box-filter {
    flex: 0 0 250px;
    width: 250px;
}

.filter-select .rs__control {
    background-color: rgb(17, 24, 39);
    border: 1px solid rgb(51, 51, 51);
    padding: 8px 0;
}

.filter-select .rs__single-value {
    color: rgb(255, 255, 255);
}

.filter-select .rs__input-container {
    color: rgb(255, 255, 255);
}

.filter-select .rs__control--is-focused {
    border-color: rgb(170, 202, 254);
}

.filter-select .rs__menu {
    background-color: rgb(15, 23, 42);
    border-radius: 6px;
}

.filter-select .rs__option {
    color: rgb(255, 255, 255);
}

.filter-select .rs__option--is-selected {
    background-color: rgb(75, 85, 99);
}

.filter-select .rs__option--is-focused {
    background-color: rgb(55, 65, 81);
}

.filter-select .rs__placeholder {
    color: rgb(156, 163, 175);
}

@media (max-width: 370px) {
    .filters {
        justify-content: center;
    }
}