.my-library{
    /* background-color: rgba(10, 16, 30, 0.9); */
    padding: 50px 0;
    color: rgb(240, 248, 255);
}

.my-library-header{
    padding: 0 0 30px 0;
    border-bottom: 1px solid rgb(201, 210, 232);
}

.my-library-inner{ 
    padding: 30px 20px;
    background: conic-gradient(from -90deg at 110% 100%, rgb(43, 48, 59), rgb(22, 24, 29), rgb(22, 24, 29));
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}